@font-face {
  font-family: weaponeer;
  src: url("../font/weaponeer.ttf");
}

body {
  background-color: #001027;
  color: #fff;
}

/* 标题 */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background: url(../images/bg.jpg) no-repeat center;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0rem 0rem 0.5rem #fff;
}

.time {
  position: absolute;
  top: 4.5rem;
  left: 1.25rem;
  font-size: 0.9rem;
  font-family: weaponeer;
}

/* 内容 */
section {
  display: flex;
  margin: 0 auto;
  padding: 0 1.25rem;
  overflow: hidden;
}

.content-middle {
  width: 50%;
  margin: 0 0.7rem;
  overflow: hidden;
}

.content-left,
.content-right {
  width: 25%;
}

/* 面板 */
.panel,
.lines {
  position: relative;
  flex: 1;
  height: 14.75rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.panel {
  border: 0.05rem solid #2989d5;
  box-shadow: 0rem 0rem 0.7rem 0.15rem #2373b4 inset;
}

.panel::before,
.panel::after,
.panel-foot::before,
.panel-foot::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
}

.panel::before {
  top: 0;
  left: 0rem;
  border-top: 0.05rem solid #85caff;
  border-left: 0.05rem solid #85caff;
}

.panel::after {
  top: 0;
  right: 0rem;
  border-top: 0.05rem solid #85caff;
  border-right: 0.05rem solid #85caff;
}

.panel-foot::before {
  bottom: 0;
  left: 0rem;
  border-bottom: 0.05rem solid #85caff;
  border-left: 0.05rem solid #85caff;
}

.panel-foot::after {
  bottom: 0;
  right: 0rem;
  border-bottom: 0.05rem solid #85caff;
  border-right: 0.05rem solid #85caff;
}

.panel h3 {
  position: absolute;
  top: -0.05rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 1.4rem;
  border: 0.05rem solid #2989d5;
  border-top: 0;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0rem 0rem 0.7rem 0.15rem #2373b4;
  background-color: #082753;
  font-size: 0.7rem;
  font-weight: 600;
  text-shadow: 0rem 0rem 0.5rem #fff;
}

.panel-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart {
  width: 100%;
  height: 100%;
}

/* 计划与完工数量 */
.plan {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.plan-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5.5rem;
  margin-right: 1.5rem;
}

.plan-left div {
  width: 5.5rem;
  height: 5.5rem;
}

.plan-left div img {
  width: 100%;
  height: 100%;
}

.plan-left span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 5.5rem;
  margin-top: 0.5rem;
  background-color: #133360;
  font-size: 0.9rem;
  text-shadow: 0rem 0rem 0.5rem #fff;
}

.plan-right {
  width: 13rem;
  color: #5db5d4;
  font-size: 0.8rem;
}

.plan-top,
.plan-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan-num span,
.plan-rate span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-shadow: 0rem 0rem 0.5rem #fff;
}

.plan-num span {
  width: 6rem;
  height: 1.7rem;
  margin-top: 0.2rem;
  border: 0.05rem solid #185688;
}

.plan-bottom {
  margin-top: 1.1rem;
}

.plan-rate {
  width: 4rem;
}

.plan-rate div {
  width: 3.95rem;
  margin-top: 0.2rem;
  border: 0.05rem solid #185688;
}

.plan-rate span {
  height: 1.5rem;
  margin: 0.1rem;
  background-color: #13325f;
}

/* 线体 */
.lines-list {
  width: 100%;
}

.lines-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.item-left {
  width: 30rem;
}

.item-top {
  display: flex;
  margin-bottom: 0.9rem;
}

.state-info {
  width: 13rem;
  padding-right: 0.7rem;
  font-size: 1rem;
  text-align: center;
}

.state-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  margin-top: 0.5rem;
  padding: 0 1.6rem;
  border: 0.05rem solid #33a6ff;
  font-size: 0.8rem;
}

.state-info a {
  display: flex;
  align-items: center;
}

.state-info a img {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.3rem;
}

.state-signal {
  display: flex;
  align-items: center;
}

.state-signal:before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.25rem;
  border: 0.05rem solid #8e6095;
  background-color: #6718ad;
}

.state-working:before {
  background-color: #18c08e;
}

.param-list {
  display: flex;
  flex-wrap: wrap;
  width: 17rem;
  padding-left: 0.7rem;
  border-left: 0.1rem solid #13325f;
}

.param-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 7.1rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.05rem solid #05578d;
  font-size: 0.7rem;
}

.param-item:nth-child(odd) {
  margin-right: 1.8rem;
}

.param-item:nth-child(-n + 2) {
  margin-bottom: 0.3rem;
}

.param-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -0.2rem;
  transform: translateY(50%);
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #00bee9;
}

.param-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  border: 0.05rem solid #65abe7;
  background-color: #1e3f61;
  color: #65abe7;
}

/* 进度条 */
.progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 30rem;
  height: 0.7rem;
  border: 0.05rem solid #15b1f8;
  border-radius: 0.1rem;
  color: #15b1f8;
  font-size: 0.45rem;
}

.progress-bar {
  width: 44%;
  height: 100%;
  background: -ms-linear-gradient(left, rgb(21, 122, 241), rgb(1, 195, 241));
  background: -o-linear-gradient(left, rgb(21, 122, 241), rgb(1, 195, 241));
  background: -webkit-linear-gradient(
    left,
    rgb(21, 122, 241),
    rgb(1, 195, 241)
  );
}

.progress-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.item-right .chart {
  width: 16.05rem;
  height: 5rem;
}

/* 制令单信息 */
.table {
  height: 13rem;
  margin-top: 1.85rem;
  overflow: hidden;
}

.table table {
  width: 100%;
  color: #fff;
  text-align: center;
}

.table-header thead {
  height: 1.7rem;
  background-color: #3c7ec9;
}

.table-header thead th {
  font-size: 0.8rem;
}

.table-body {
  height: calc(100% - 1.7rem);
  overflow: hidden;
}

.table-body tbody {
  background-color: #13325f;
}

.table-body tbody tr {
  height: 1.3rem;
}

.table-body tbody tr:nth-child(odd) {
  background-color: #001027;
  color: #4e87ba;
}

.table-body tbody td {
  border: 0.05rem solid #346fb3;
  font-size: 0.7rem;
}

.work thead th:nth-child(1),
.work tbody td:nth-child(1) {
  width: 10rem;
}
.work thead th:nth-child(2),
.work tbody td:nth-child(2) {
  width: 9rem;
}
.work thead th:nth-child(3),
.work tbody td:nth-child(3) {
  width: 6rem;
}
.work thead th:nth-child(4),
.work tbody td:nth-child(4) {
  width: 6rem;
}
.work thead th:nth-child(5),
.work tbody td:nth-child(5) {
  width: 9.5rem;
}
.work thead th:nth-child(6),
.work tbody td:nth-child(6) {
  width: 5.45rem;
}

.warning thead th:nth-child(1),
.warning tbody td:nth-child(1) {
  width: 4.5rem;
}
.warning thead th:nth-child(2),
.warning tbody td:nth-child(2) {
  width: 4rem;
}
.warning thead th:nth-child(3),
.warning tbody td:nth-child(3) {
  width: 4.5rem;
}
.warning thead th:nth-child(4),
.warning tbody td:nth-child(4) {
  width: 3.5rem;
}
.warning thead th:nth-child(5),
.warning tbody td:nth-child(5) {
  width: 6rem;
}

/* 线体效率对比 */
.efficiency {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.target {
  margin-right: 0.7rem;
}

.target-box {
  position: relative;
  width: 7rem;
  margin-bottom: 0.4rem;
  border: 0.05rem solid #4d5969;
  border-left: none;
  border-right: none;
}
.target-box::before,
.target-box::after,
.target-num::before,
.target-num::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #00bee9;
}

.target-box::before {
  top: -0.1rem;
  left: 0;
}
.target-box::after {
  top: -0.1rem;
  right: 0;
}
.target-num::before {
  bottom: -0.1rem;
  left: 0;
}
.target-num::after {
  bottom: -0.1rem;
  right: 0;
}

.target-num {
  width: 6.5rem;
  height: 2.8rem;
  padding: 0.3rem 0;
  margin: 0.15rem auto;
  background-color: #0c3155;
  font-size: 0.8rem;
  text-shadow: 0rem 0rem 0.5rem #fff;
  text-align: center;
}

.target-num span {
  display: block;
  margin-top: 0.4rem;
  font-size: 0.7rem;
}
