/* 公共样式 */
.fl {
  float: left;
}
.fr {
  float: right;
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("../font/iconfont.woff2") format("woff2"),
    url("../font/iconfont.woff") format("woff"),
    url("../font/iconfont.ttf") format("truetype"),
    url("../font/iconfont.svg#iconfont") format("svg");
}
.fr .iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 版心 */
.wrap {
  width: 1200px;
  margin: 0 auto;
}

.style-red {
  color: #c81623;
}

.spacer {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9px 12px 0;
}

.shortcut {
  height: 34px;
  background-color: #f1f1f1;
  line-height: 31px;
}

.shortcut li {
  float: left;
}

.header {
  position: relative;
  height: 105px;
}
.logo {
  position: absolute;
  top: 25px;
  left: 0;
  width: 175px;
  height: 56px;
}

.logo a {
  display: block;
  width: 175px;
  height: 56px;
  background: url(../img/logo.png) no-repeat;
  background-size: 175px;
  font-size: 0px;
}

.search {
  position: absolute;
  top: 25px;
  left: 348px;
}

.text {
  float: left;
  width: 445px;
  height: 32px;
  border: 2px solid #b1191a;
  padding-left: 10px;
  color: #ccc;
}
.btn {
  float: left;
  width: 82px;
  height: 36px;
  border: none;
  background-color: #b1191a;
  color: #fff;
  font-size: 16px;
}

.hotwrods {
  position: absolute;
  top: 65px;
  left: 348px;
}
.hotwrods a {
  margin: 0 10px;
}

.shopcar {
  position: absolute;
  top: 25px;
  right: 64px;
  width: 138px;
  height: 34px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  line-height: 34px;
  text-align: center;
}

.car {
  margin-right: 4px;
  color: #da5555;
  font-family: "iconfont";
  vertical-align: revert;
}

.arrow {
  margin-left: 5px;
  font-family: "iconfont";
}
.count {
  position: absolute;
  top: -5px;
  left: 100px;
  height: 14px;
  padding: 0 3px;
  background-color: #e60012;
  line-height: 14px;
  color: #fff;
  border-radius: 7px 7px 7px 0;
}
.nav {
  height: 45px;
  border-bottom: 2px solid #b1191a;
}
